ion-content .showcar{
  ion-col b {
    font-weight: bold;
  }
  
  ion-row:first-of-type {
    background-color: #e1e1e1;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  ion-row {
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  ion-row ion-col {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ion-row ion-col:last-of-type ion-button {
    margin-left: 5px;
  }
  
  ion-row ion-col:last-of-type ion-button:first-of-type {
    margin-left: 0;
  }
  
}
