ion-content.card{
  padding-top: 1.6rem;
  padding-inline-end: 1.6rem;
  .title{
   font-weight: 700;
   color: #000;
   font-size: 2.7rem;
   margin-bottom: 2rem;
   padding-left: 1.6rem;
  }
  .cart-item{
   background: #f3f3f3;
   padding: 1.5rem 1rem;
   border-radius: 1.5rem;
   display: flex;
   justify-content: space-between;
   width: 95%;
   height: 15%;
   margin-left: 2%;
   margin-bottom: 5%;
   position: relative;
   img {
       height: 90px;
       width: 110px;
       margin-right: 1.2rem;
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
      
     }
   .description{
       flex: 1;
       margin-left: 35%;
       display: flex;
       flex-direction: column;
       margin-top: 7%;

       h3{
           font-size: 18px;
           font-weight: bold;
           color: #1f1f1f;
       }
       p{
           font-size: 1.4rem;
           font-weight: 700;
           color: #000;
           margin: 0.5rem 0;
       }
   }
  }
  .action {
   border: 1px solid #c7c7c7;
   border-radius: 2rem;
   height: 110px;
 }
 .action .counter {
   height: 35px;
   display: flex;
   justify-content: center;
  p{
   margin-top: 6px;
   font-size: 2rem;
   font-weight: bold;
   color: #f9b801;
  }
 }
 .action button {
   border-radius: 2rem;
   box-shadow: 0px 2px 10px grey;
   padding-left: 0 !important;
   padding-right: 0 !important;
   padding-top: 0;
   padding-bottom: 0;
   height: 35px;
   width: 35px;
 }
 ion-item-sliding{
   margin-bottom: 2rem;
   overflow: hidden;

   ion-item{
     border-radius: 25px;
   }

   ion-item-options{
     border: 2px solid #f3f3f3;
     border-radius: 25px;
     overflow: hidden;
 
   }
 }
 .empty-cart{
   height: 90%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: #c7c7c7;

   ion-icon{
     font-size: 8rem;
   }
   p{
     font-size: 1.8rem;
   }
 }
.buttons{
           background: #f9b801;
           font-weight: bold;
           font-size:  15px;
           margin-top: 13px;
           border-radius: 8px;
           padding: 15px 60px 15px 60px;
           margin-left: 20%;
           margin-bottom: 5%;
}
}